WebDriverTests_Csharp/Autotest.Core/Autotests.Utilities/bin/*
WebDriverTests_Csharp/Autotest.Core/Autotests.Utilities/obj/*
WebDriverTests_Csharp/Autotest.Core/Autotests.WebPages/bin/*
WebDriverTests_Csharp/Autotest.Core/Autotests.WebPages/obj/*
WebDriverTests_Csharp/Autotest.Test.AdminAndSupportTests/Autotests.Suites/bin/*
WebDriverTests_Csharp/Autotest.Test.AdminAndSupportTests/Autotests.Suites/obj/*
WebDriverTests_Csharp/Autotest.Test.ApiTests/Autotests.Suites/bin/*
WebDriverTests_Csharp/Autotest.Test.ApiTests/Autotests.Suites/obj/*
WebDriverTests_Csharp/Autotest.Test.ApiProdTests/Autotests.Suites/bin/*
WebDriverTests_Csharp/Autotest.Test.ApiProdTests/Autotests.Suites/obj/*
WebDriverTests_Csharp/Autotest.Test.ClearTests/Autotests.Suites/bin/*
WebDriverTests_Csharp/Autotest.Test.ClearTests/Autotests.Suites/obj/*
WebDriverTests_Csharp/Autotest.Test.CreateTests/Autotests.Suites/bin/*
WebDriverTests_Csharp/Autotest.Test.CreateTests/Autotests.Suites/obj/*
WebDriverTests_Csharp/Autotest.Test.UserTests/Autotests.Suites/bin/*
WebDriverTests_Csharp/Autotest.Test.UserTests/Autotests.Suites/obj/*
/Assemblies/Temp
/Assemblies/Temp/.gitkeep
WebDriverTests_Java/WebDriverTests/target/*
/WebDriverTests_Java/WebDriverTests/target/maven-status
/WebDriverTests_Java/WebDriverTests/target/surefire-reports
/WebDriverTests_Java/WebDriverTests/target/test-classes
/WebDriverTests_Java/WebDriverTests/target/generated-test-sources
/WebDriverTests_Java/WebDriverTests/target/test-classes/tests
/WebDriverTests_Java/WebDriverTests/target/test-classes/core
/WebDriverTests_Java/WebDriverTests/target/surefire-reports/Command line suite
/WebDriverTests_Java/WebDriverTests/target/surefire-reports/junitreports
/WebDriverTests_Java/WebDriverTests/target/surefire-reports/old
/WebDriverTests_Java/WebDriverTests/target
/WebDriverTests_Java/Assemblies/Chrome/debug.log
/WebDriverTests_Csharp/Autotest.Test.ApiTests/Autotest.Test.ApiTests.v12.suo
/WebDriverTests_Csharp/Autotest.Test.ApiTests/Autotest.Test.ApiTests.sln.DotSettings.user
/WebDriverTests_Csharp/Autotest.Test.UserTests/Autotest.Test.UserTests.sln.DotSettings.user
/WebDriverTests_Csharp/Autotest.Test.UserTests/Autotest.Test.UserTests.v12.suo
/WebDriverTests_Csharp/Autotest.Test.CreateTests/Autotest.Test.CreateTests.v12.suo
/WebDriverTests_Csharp/Autotest.Test.CreateTests/Autotest.Test.CreateTests.sln.DotSettings.user
/WebDriverTests_Csharp/Autotest.Test.AdminAndSupportTests/Autotest.Test.AdminAndSupportTests.sln.DotSettings.user
/WebDriverTests_Csharp/Autotest.Test.AdminAndSupportTests/Autotest.Test.AdminAndSupportTests.v12.suo
/WebDriverTests_Csharp/Autotest.Core/Autotest.Core.v12.suo
